@charset "utf-8";


.frame{
    display:flex;
    flex-direction: column;
}

/*----헤더----*/
.header{margin-top: 10vh;}

#title{font-family:'Roboto Mono', monospace;}


.navigator{
    display: table;
    flex-direction:row wrap;
}

a{text-decoration: none;}
        
nav:after{
    content: '';
    clear: both;
    display: table;
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 40%;
    margin-left: 40%;
    padding-left: 40vw;
    position: relative;
    margin: 0px; 
 }

nav ul li{
    display: inline-block;
    margin: 0px;
}


nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}

.menu{
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

.menu:hover{
    color: white;
    background-color: rgb(190, 190, 190);
    transition: 0.2s;}

.show, .icon, input{display: none;}
#btn-1, #btn-2{display: none;}

/*네비게이션 반응형(햄버거)*/

@media (max-width: 900px) {
    nav ul{
        display: none;
        margin: 0px;
        right: 10px;
        top: 40px;
        float:inline-end;
        text-align: right;
        animation: fadein 1s;}

    nav ul li{
        display: block;
        width: 100%;
        margin: 0;}

    nav ul li a{
        padding-left: 20px;
        line-height: 2.5;}

    .menu{font-size: 18px;}

    nav .icon{
        display: block;
        color:rgb(114, 126, 131);
        position: absolute;
        right: 50px;
        line-height: 0px;
        font-size: 70px;
        cursor: pointer;}

    nav ul li a:hover{box-shadow: none;}

    [id^=btn]:checked + ul{display: block;}
}

@media (max-width: 430px){

    .header{margin-top: 0;}

    #title{top:20px;}

    nav .icon {
        display: block;
        float: right;
        top: 15px;
        color: rgb(114, 126, 131);
        position: absolute;
        right: 5px;
        line-height: 70px;
        font-size: 0px;
        cursor: pointer;}

    nav ul{
        display:none;
        margin-right: 0px;
        margin-left:0px;
        float: right;
        text-align: right;
    }

    .menu{font-size: 16px;}
}


.image-slide {max-width: 65vw; margin-left: 13vw;}
@media (max-width: 600px) {.image-slide{max-width: 100%; margin-left: 0;}}

#main-carousel { margin-top :200px; }
.splide {margin-top: 20px;}
.splide__slide img {
    width: 100%;
    height: 100%;  
    object-fit: cover;
}


.splide__slide {
    opacity: 0.6;
}

.splide__slide.is-active {
    opacity: 1;
}
.description {
    position: absolute;
    height: 25px;
    right: 0%;
    bottom: 0;

    font-family: 'Roboto Mono','Noto Serif KR', sans-serif;
    font-size: 13px;
    background: rgba(83, 83, 83, 0.72);
    color: #dadada;
    visibility: hidden;
    opacity: 0;
}

@media (max-width:600px) {
    .description{top: 93%; font-size: 10px;}
}



#main-carousel .splide__track .splide__list .splide__slide:hover .description{
    visibility: visible;
    opacity: 1;
}


#thumbnail-carousel .splide__track .splide__list .splide__slide img{
    border-radius: 0;
    margin: 0;
}




.published {margin-top: 200px;}

.published_works {
    font-family: 'Roboto Mono', monospace;
    color: rgb(156, 156, 156);
}

.published_works_names {
    margin-top: 50px;
    font-family: 'Roboto Mono','Noto Serif KR', sans-serif;
    font-size: 14px;
    color: inherit;
    color: rgb(83, 83, 83);
    letter-spacing: -1px;
}
@media (max-width: 430px) {
    .published_works_names{font-size: 10px;}
}


.material-icons {
    color:rgb(201, 201, 201);
    vertical-align: middle;
}












/*-----푸터-----*/
.footer {
    margin-top: 20vh;
    margin-bottom: 10vh;
    line-height: 15px;
    font-family: 'Roboto Mono', monospace;
    color: inherit;
    color: rgb(156, 156, 156);
}

p{margin: 5px;}

#copyright {font-size: 15px;}

.link {color: inherit;}